!gradle-wrapper.jar
*.db
*.iml
*.ipr
*.iws
*.sha1
*.swp
*.zip
.DS_Store
.classpath
.gradle
.gradletasknamecache
.idea
.metadata
.project
.settings/
Servers/
bin/
build/
classes/
eclipse-workspace/
gradle-app.setting
grails-plugins/checkout
grails-plugins/mongodb/grails-mongodb-1.0.0.RC5.zip.sha1
grails-plugins/mongodb/web-app
grails-plugins/neo4j/web-app
grails-plugins/redis/web-app
out
prodDb.mv.db
secring.gpg
spy.log
stacktrace.log
target/
