<html>
    <head>
        <title>${title} ${version} Reference Documentation</title>
        <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
        <!-- Matomo -->
        <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(["setDoNotTrack", true]);
            _paq.push(["disableCookies"]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="https://analytics.apache.org/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '79']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->
    </head>
    <frameset cols="20%,80%">
        <frame src="ref/menu.html" name="leftFrame" title="index for guide"/>
        <frame src="guide/index.html" name="mainFrame" title="main guide contents" scrolling="yes"/>

        <noframes>
            <h2>Frame Alert</h2>
            <p/>
            This document is designed to be viewed using the frames feature. If you see this message, you are using a non-frame-capable web client.
        </noframes>
    </frameset>
</html>
